<meta name="twitter:card" content="{{ .Site.Title }}" />
<meta name="twitter:site" content="@{{ .Site.Params.widgets.social.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Params.widgets.social.twitter }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}{{ if (isset .Params "thumbnail") }}{{ .Params.Thumbnail }}{{ else }}{{ index .Site.Params.Images 0 }}{{ end }}" />
