{{ if ne .Params.share false}}
<div class="share_outer">
  <div class="share_inner">
    {{ $text := printf "【%s】- %s" .Title .Site.Title }}
    <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ $text }}" target="_blank" class="share_button twitter" aria-label="Share on Twtter" data-balloon-pos="up"><i class="fab fa-twitter"></i></a>
    <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ $text }}" target="_blank" class="share_button facebook" aria-label="Share on Facebook" data-balloon-pos="up"><i class="fab fa-facebook"></i></a>
    <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ $text }}" target="_blank" class="share_button pocket" aria-label="Save to Pocket" data-balloon-pos="up"><i class="fab fa-get-pocket"></i></a>
    <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ $text }}" target="_blank" class="share_button hatena" aria-label="Bookmark on Hatena" data-balloon-pos="up"><i class="fab fa-hatena"></i></a>
    <span class="share_button copy" aria-label="Copy URL" data-balloon-pos="up" onclick="copyurl()"><i class="far fa-clone"></i></span>
    <script>
      function copyurl() {
          const element = document.createElement('input');
          element.value = location.href;
          document.body.appendChild(element);
          element.select();
          document.execCommand('copy');
          document.body.removeChild(element);
          const jsFrame = new JSFrame();
          jsFrame.showToast({
              html: 'URL Copied', align: 'top', duration: 1000
          });
      }
    </script>
  </div>
</div>
{{ end }}
