{{ $pageurl := .Permalink }}

<style>
  .share-buttons-container {
      display: table;
      width: 100%;
      table-layout: fixed;
      background-color: blue;
  }
  .share-buttons {
      display: inline-block;
      text-align: center;
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      vertical-align: middle;
      background-color: green;
  }
  .share-buttons > li {
      align-items: center;
      position: relative;
      font-size: 24px;
      float: left;
      text-align: center;
      margin: 0 0px 0 0;
      vertical-align: middle;
      background-color: green;
  }
  .share-buttons > li:hover {
      cursor: pointer;
  }
  .share-buttons > li.facebook {color: #3B5998;}
  .share-buttons > li.twitter {color: #55ACEE;}
  .share-buttons > li.linkedin {color: #0077b5;}
  .share-buttons > li.pocket {color: #0077b5;}
  .share-buttons > li.pinterest {color: #CB2027;}
  .share-buttons > li.gplus {color: #dd4b39;}
</style>

{{- /* <-- https://www.gizmodo.jp/2021/07/highly-fatal-monkey-b-virus.html を参考に --> */ -}}

<div class="share-buttons-container">
  <ul class="share-buttons">
    {{- /* <!-- see https://webdesign-trends.net/entry/3632 --> */ -}}
    <li class="facebook" title="Share this on Facebook">
      <a href="http://www.facebook.com/share.php?u={{ $pageurl }}" rel="nofollow" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li class="twitter" title="Share this on Twitter">
      <a href="https://twiter.com/share?url={{ $pageurl }}">
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
    <li class="hatena" title="Bookmark on hatena">
      <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ $pageurl }}&title={{ .Title }}" target="_blank" rel="nofollow">
        B!
      </a>
    </li>
    <li class="pocket" title="Save to Pocket">
      <a href="http://getpocket.com/edit?url={URL}&title={ページのタイトル}" rel="nofollow" rel="nofollow" target="_blank">
        <i class="fab fa-get-pocket"></i>
      </a>
    </li>
  </ul>
</div>
