{{- if .Site.Params.widgets.social }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">{{ T "social_title" }}</h4>
	<div class="widget-social__content widget__content">
		{{- with .Site.Params.widgets.social.facebook }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Facebook" rel="noopener noreferrer" href="https://facebook.com/{{ . }}" target="_blank">
				<i class="fab fa-facebook widget-social__link-icon"></i>
				<span>Facebook</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.twitter }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
				<i class="fab fa-twitter widget-social__link-icon"></i>
				<span>Twitter</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.instagram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/{{ . }}" target="_blank">
				<i class="fab fa-instagram widget-social__link-icon"></i>
				<span>Instagram</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.linkedin }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="LinkedIn" rel="noopener noreferrer" href="https://linkedin.com/in/{{ . }}" target="_blank">
				<i class="fab fa-linkedin-in widget-social__link-icon"></i>
				<span>LinkedIn</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.telegram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Telegram" rel="noopener noreferrer" href="https://t.me/{{ . }}" target="_blank">
				<i class="fab fa-telegram widget-social__link-icon"></i>
				<span>Telegram</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.github }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="GitHub" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
				<i class="fab fa-github widget-social__link-icon"></i>
				<span>GitHub</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.gitlab }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="GitLab" rel="noopener noreferrer" href="https://gitlab.com/{{ . }}" target="_blank">
				<i class="fab fa-gitlab widget-social__link-icon"></i>
				<span>GitLab</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.bitbucket }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Bitbucket" rel="noopener noreferrer" href="https://bitbucket.org/{{ . }}" target="_blank">
				<i class="fab fa-bitbucket widget-social__link-icon"></i>
				<span>Bitbucket</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.email }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Email" href="mailto:{{ . }}">
				<i class="fas fa-envelope widget-social__link-icon"></i>
				<span>{{ . }}</span>
			</a>
		</div>
		{{- end }}

		{{ range .Site.Params.widgets.social.custom }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="{{ .title }}" rel="noopener noreferrer" href="{{ .url }}" target="_blank">
				{{- if .icon }}
				<i class="{{ .icon }} widget-social__link-icon"></i>
				{{- end }}
				<span>{{ .title }}</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{- end }}
